@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,700&family=Poppins:wght@100&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}


a{
    color: white;
    text-decoration: underline;
}

.button-back{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
}

.inputs{
    display: flex;
    gap: 50px;
}


.form{
    width: 700px;
    height: 400px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px white;
    font-family: 'Poppins';
}

.form h1{
    text-align: center;
}

.form h2{
    text-align: center;
    margin-bottom: 50px;
}

.input{
    position: relative;
}

input{
    background-color: transparent;
    width: 300px;
    height: 18px;
    border: none;
    border-bottom: 1px solid rgb(121, 121, 121);
    outline: none;
    color: white;
    margin-bottom: 50px;
    font-size: 16px;
}

label{
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: -1;
}

input:focus{
    border-bottom: 1px solid white;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -18px;
    transition: 300ms;
    font-size: 12px;
}

.button button{
    width: 300px;
    height: 50px;
    background: #326CF9;
    color: white;
    cursor: pointer;
}

.button button:hover{
    background: #034afe;
    transition: 300ms;
}

@media (max-width:790px) {
    .form{
        width: 660px;
    }
}

@media (max-width:670px) {
    body{
        padding-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        border: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
}